/*pour réinitialiser les marges par défaut */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#mainpage {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color:#f6ebfd
}



footer { 

    background-color:  #c8b6ff; 
    text-align:center;
    font-size: small;
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    height: 170px;           /* Hauteur fixe pour le footer */
  
}

h1 {
    margin-top: 5px;
    color: rgb(0, 122, 156);
    text-align: center;
}

.nav-bar {
    background-color: #c8b6ff;
   padding-bottom: 10px;
}

#nav-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#nav-right a{
    margin-right: 1rem;
}


.btns-accueil{
    display: flex;
    margin: 2px 0px 20px 70px;
    flex-direction: column;
    align-items: flex-end;
}

.btn-accueil{
    /* padding:  0px 10px; */
    margin: 5px;
    padding:3px;
    width: 100px;
    height: 15px;
    background-color:rgb(0, 122, 156);
    border-radius: 10px;
    font-size: 10px; 
    text-align: center;
    color: #e7c6ff;
}
    
.home{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color:#e7c6ff  
}
.text-acceuil{
    margin: 10px;
    padding: 5px 10px;
}

.wrap{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.categorie{
    margin: 50px;
    padding:30px;
    width: 150px;
    height: 100px;
    background-color: #c8b6ff;
    border-radius: 5px;
}

.categorie a{
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;  
}

.topic{
    margin: 50px;
    padding:30px;
    width: 150px;
    height: 100px;
    background-color: #c8b6ff;
    border-radius: 5px;
}


.formulaire {
  
    background-color: #551a8b;
    opacity:0.6 ;
    padding: 50px;
    border: 1px solid ;
    border-radius: 5px;
    width: 50%;
    margin: 30% auto;color: rgb(255, 255, 255);
}

.btn{
    margin-top: 2rem;
    margin-left: 70%;
    width: 100px;
    border-radius: 5px;
    padding: 2px 0px;
    background-color: rgb(0, 122, 156);;
    color: rgb(255, 255, 255);
}
 